/* Style général */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #2980b9, #6dd5fa);
    color: #333;
    line-height: 1.6;
}


/* Section Projets */
.projects {
    padding: 60px 20px;
    text-align: center;
    color: beige;
}

.projects h2 {
   
    color: beige;
    font-family: 'Times New Roman', Times, serif;
}

/* Cartes de projets */
.project-card {
    background-color: #88c0ff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
    padding: 30px;
    border-radius: 12px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    max-width: 900px;
    margin: 20px auto;
    text-align: left;
}

.project-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.project-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.project-header-content h3 {
    font-size: 24px;
    color: #2980b9;
    margin: 0;
}

.date {
    font-size: 14px;
    color:white;
}

.project-logo {
    width: 80px;
    border-radius: 50%;
    object-fit: cover;
}


